.login-wrapper {
    padding: 1rem;
    padding-top: 10vh;

    .stepper {

        .stepper-viewport {
            display: flex;
            transition: transform 0.3s ease-in-out;
            transform: translateX(-100%*1);
        }

        overflow: hidden;

        .step {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            flex: 0 0 100%;

            button[lidz-button] {
                margin-top: 3rem;
            }

        }
    }



    // button[lidz-button] {
    //     // width: 100%;
    // }

    .verify-number {
        lidz-input {
            margin-top: 1.5rem;
        }
    }

}

.mini-button {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    text-align: end;
}

.code-actions {
    display: flex;
    justify-content: space-between;

    button {
        padding: 0.45rem 0.8rem;
        display: inline;
        background: white;
        border-radius: 0.5rem;
        border: 1px solid var(--primary-color);
        background: white;
        align-self: flex-end;
        justify-self: flex-end;
        color: var(--primary-color);
        font-weight: 500;
    }
}